* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana;
}

   body {
   background-color: #c0c0c0;
   }

   .wrapper {
   width: 1200px;
   min-height: 800px;
   margin: 0px auto;  
   padding: 0px;
   text-align: justify;
   background-color: white;
   overflow: hidden;
}
   .detail_wrapper{
   width: 500px;
   margin: 0px auto;
   padding: 10px;
   }

p {
	margin: 0 3% 0 3%;
}
				   
.header {
	min-height: 106px;
	position: relative;
}

.header li {
	list-style-type: none;
}

.header ul {
	width: 80%;
	margin: 0px auto;
	margin-top: 42px;
	font-size: 20px;
	justify-content: space-between;
	display: flex;
}


.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style-type: none;
	margin: 0 3% 0 3%;
}

.pagination a {
	color: #0BDA51;
}

.sidebar {
	 width: 30%; 
	 margin-left: 10%;
}

.sectionRight {
   width: 30%;  
   text-align: justify;
   margin: 0 10% 0 40%;
}

a {
   text-decoration: none;
   color: #99c50a;
   opacity: 0.67;  
}

.active {
   text-decoration: underline;
}

a:hover {
   opacity: 1;
   transition: .8s;
}

.center img{
width: 17%;
margin: 2% 41% 2% 41%; 
}

footer img{
max-width: 5%;
max-height: 5%;
text-align: center;
margin: 0px auto; 
}

footer {
	color: #99c50a;
	margin: 0px auto; 
	/*color: #848484;*/
	/*font-family: "Open Sans", sans-serif;*/
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

.succes {
	color: red;
}

textarea {
	resize: both;
	min-height: 200px;
	max-height: 300px;
	min-width: 300px;
	max-width: 500px;
}

table {
	text-align: center;
	padding: 5;
	width: 100%;
	border-spacing: 4;
	border: 5px solid black;
}

.topics {
	padding: 3%;
	text-align: center;
	font-size: 20px;
	font-family: Verdana;
}

.thh {
	text-align: center;
	padding: 5;
}

textarea.form-control{
	width: 100%;
	padding: 5px 10px;
	min-height: 200px;
	resize: vertical;
	text-align: justify;
	
}

.date{
	font-weight: bold;
}
.name{
	font-size: 12pt;
}

.detail_navigation{
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

input {
	width: 100%;
}

.new {
	   color: red;
   }
   .old {
	   color: green;
   }
   .adm {
	   width: 600px;
	   margin: 10 auto;
   }